# Default ignored files
/shelf/
/workspace.xml
# eclipse
.classpath
.settings/
.project
.DS_Store

# intellij
*.iml
.idea/

#build
target/
build/
out/

#gradle
.gradle/

log/
*.log

node_modules/
package-lock.json